body {
	background-color:#FFFFFF; 
	text-align: center; 
	font-family: arial;
	/*font-family:'Lato', sans-serif !important;*/
}

/*
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}  

img {
	max-width: 100%;
} 
*/

.flexslider {
		width: 960px;
		margin: 0 auto;
		box-shadow: none;

}

.flexslider li {
		position: relative;
}

.flexslider li .meta {
		position: absolute;
		bottom: 20px;
		left: 20px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-family: 'Roboto', sans-serif;
}

.flexslider li h1 {
		background: rgba(51, 51, 51, 0.5);
		padding: 12px 18px 12px;
		margin-bottom: 0;
		font-size: 3em;
		font-weight: 400;
}

.flexslider li h2 {
		background: rgba(51, 51, 51, 0.5);
		padding: 13px 18px 11px;
		font-size: 1.8em;
		margin-bottom: 0;
		font-weight: 100;
}

.flexslider li h1,
.flexslider li h2 {
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOutLeft;
		animation-name: fadeOutLeft;
}

.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta h2 {
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h2 {
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
}



.flex-direction-nav {
		position: absolute;
		top: 0;
		left: 30px;
}

.flex-direction-nav a {
		text-decoration: none;
		display: block;
		width: 100px;
		height: 120px;
		background-color: #333;
		margin: -20px 0 0;
		position: absolute;
		top: 360px;
		z-index: 10;
		overflow: hidden;
		opacity: .5;
		cursor: pointer;
		color: #fff;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
		text-align: left;
		left: 695px;
}

.flex-direction-nav .flex-next {
		text-align: right;
		left: 810px;
}

.flexslider:hover .flex-prev {
		left: 695px;
}

.flexslider:hover .flex-next {
		left: 810px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
		opacity: 1;
}

.flex-direction-nav a:before {
		font-family: FontAwesome;
		content: '\f104';
		font-size: 180px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 0;
		padding: 2px;
    	line-height: 115px;
}

.flex-direction-nav a.flex-next:before {
		content: '\f105';
}

@-webkit-keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@-webkit-keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}


.name {
	text-align: center; 
	color: black; 
	font-size: 30px;
	font-weight: bold;
}

.paynow { 
	padding: 15px; 
	text-align: center; 
	color: white; 
	background-color: #ff6666; 
	font-size: 40px;
	font-weight: normal;
	border-collapse: separate;
	border: solid black 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.paynow a:hover {
	color: white; 
}

.email a {
	text-align: center; 
	color: black; 
	font-size: 24px; 
	font-weight: bolder; 
	text-decoration: none;
}

.email {
	text-align: center;
}

.customer {
	text-align: center;
}

.appleLinksBlack a {
	color: #000000; 
	text-decoration: none;
}

.info-header { 
	padding: 15px; 
	text-align: left;  
	color: white; 
	font-size: 24px; 
	background-color: #8CC63E;
	font-weight: bolder;
	border-collapse: separate;
	border: solid black 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.info-inside { 
	padding: 15px; 
	text-align: left;  
	color: black; 
	font-size: 18px; 
	background-color: #EEEDF7;
	border-collapse: separate;
	border: solid black 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
} 

.main-photo {
	border-collapse: separate;
	border: solid black 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

